body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #141a20;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #e7fbff;
}

main {
    min-height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content h1 {
    font-size: 3em; /* Adjust as needed */
}

footer {
    background-color: #141a20;
    padding: 5px;
    color: #e7fbff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
