/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #141a20;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #e7fbff;
}

main {
    min-height: calc(100vh - 120px); /* Adjust based on your header and footer heights */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content h1 {
    font-size: 3em; /* Adjust as needed */
}

footer {
    background-color: #141a20;
    padding: 5px;
    color: #e7fbff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    overflow: hidden;
}

.sliding-background {
    background: url("portfolio_background.png") repeat;
    height: 1080px;
    width: 3840px;
    background-size: 25% 50%;
    animation: slide 60s linear infinite;
}

@keyframes slide{
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-1620px);
    }
}